@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body, heading  */
@layer base {
    body {
        font-family: 'Space Grotesk', sans-serif;
    }

    header {
        @apply fixed top-0  z-50 w-full transition-all lg:py-6
    }

    .header-inner {
        @apply flex items-center justify-between  
    }
}


/* custom classNames */
@layer components {
    .headerLink {
        @apply text-base font-semibold text-white transition duration-[.4s] hover:text-[#b3b3b3] pr-3
    }

    .masonry {
        column-count: 2;
        column-gap: 1rem;
    }

    @screen lg {
        .masonry {
            column-count: 2;
        }
    }
}


